[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
alpaca-trade-api = "*"
backtrader = "*"
matplotlib = "*"
polygon-api-client = "*"
joblib = "*"
pandas = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
alpha-vantage = "*"

[requires]
python_version = ">=3.6"
